# Rust
/target/
**/*.rs.bk
*.pdb

# Project-specific
*.dat
*.DAT
/tmp/

!/tests/
/tests/*
!/tests/*.sh
!/tests/*.ts
!/tests/tsconfig.json
!/tests/rpu.md5
!/tests/dat2.exe
!/tests/dbmaker.exe

# Node, for the integration tests' typecheck only
/node_modules/

# IDE
.vscode/
